<form [formGroup]="createForm" class="form">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Article</mat-label>
    <textarea formControlName="article" matInput></textarea>
  </mat-form-field>
</form>
<div class="actions">
  <button
    [disabled]="createForm.invalid || disabled"
    mat-flat-button
    color="accent"
    (click)="save()"
  >
    Save
  </button>
</div>
