.form {
  display: flex;
  flex-direction: column;

  textarea {
    height: 580px;
    resize: none;
  }
}

.actions {
  display: flex;
  flex-direction: row-reverse;

  button {
    width: 124px;
  }
}
