.card {
    width: 280px;
    padding: 8px;
    margin-bottom: 8px;
    border: 2px solid lightcoral;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}